.vans {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 70px;

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
  }

  &__list-filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 55.7px;
  }

  &__filter-link {
    display: inline-block;
    min-width: 104px;
    padding: 6px 10px 7px;
    font-weight: 500;
    color: #4d4d4d;
    background-color: #ffead0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;

    &--simple-selected {
      background-color: #e17654;
      color: #ffead0;
    }

    &--luxury-selected {
      background-color: #161616;
      color: #ffead0;
    }

    &--rugged-selected {
      background-color: #115e59;
      color: #ffead0;
    }

    &--clear-filters {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 35px;
    justify-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.van {
  &__link {
    min-height: 300px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;

    &:hover img,
    &:focus img {
      filter: brightness(90%);
      transform: scale(1.01);
    }
  }

  &__img {
    margin-bottom: 13px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__wrapper-1 {
    max-width: 170px;
  }

  &__wrapper-2 {
    max-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
  }

  &__period {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}
