$van-details-btn-color: #fff;
$van-details-btn-bg-color: #ff8c38;

.van-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 60px;

  @media only screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  &__img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  &__description {
    margin-top: 50px;
  }

  &__wrapper-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 15px;
  }

  &__wrapper-2 {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }

  &__period {
    font-size: 20px;
    line-height: 1;
  }

  &__text {
    margin: 0;
    margin-bottom: 22px;
  }

  &__btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 30px 16px;
    font-family: inherit;
    font-weight: 700;
    color: $van-details-btn-color;
    background-color: $van-details-btn-bg-color;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
      filter: brightness(80%);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}
