.host-van-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__type {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  &__bold {
    font-weight: 700;
  }
}
